soapui-capstone/src/main/wsdl/soapUsers.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.craftsoftware.com/users" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.craftsoftware.com/users" targetNamespace="http://www.craftsoftware.com/users">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.craftsoftware.com/users">
<xs:element name="GetUserRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetUserResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="User" type="tns:User"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DeleteUserRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DeleteUserResponse">
<xs:complexType> </xs:complexType>
</xs:element>
<xs:element name="GetAllUsersRequest">
<xs:complexType> </xs:complexType>
</xs:element>
<xs:element name="GetAllUsersResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Users" type="tns:User"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UpdateUserRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="User" type="tns:User"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UpdateUserResponse">
<xs:complexType> </xs:complexType>
</xs:element>
<xs:element name="CreateUserRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="CreateUser" type="tns:CreateUser"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CreateUserResponse">
<xs:complexType> </xs:complexType>
</xs:element>
<xs:complexType name="User">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="fist" type="xs:string"/>
<xs:element name="last" type="xs:string"/>
<xs:element name="department" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CreateUser">
<xs:sequence>
<xs:element name="fist" type="xs:string"/>
<xs:element name="last" type="xs:string"/>
<xs:element name="department" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="UpdateUserResponse">
<wsdl:part element="tns:UpdateUserResponse" name="UpdateUserResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetAllUsersRequest">
<wsdl:part element="tns:GetAllUsersRequest" name="GetAllUsersRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CreateUserResponse">
<wsdl:part element="tns:CreateUserResponse" name="CreateUserResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="DeleteUserResponse">
<wsdl:part element="tns:DeleteUserResponse" name="DeleteUserResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CreateUserRequest">
<wsdl:part element="tns:CreateUserRequest" name="CreateUserRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="UpdateUserRequest">
<wsdl:part element="tns:UpdateUserRequest" name="UpdateUserRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetAllUsersResponse">
<wsdl:part element="tns:GetAllUsersResponse" name="GetAllUsersResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetUserRequest">
<wsdl:part element="tns:GetUserRequest" name="GetUserRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="DeleteUserRequest">
<wsdl:part element="tns:DeleteUserRequest" name="DeleteUserRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetUserResponse">
<wsdl:part element="tns:GetUserResponse" name="GetUserResponse"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="UserPort">
<wsdl:operation name="UpdateUser">
<wsdl:input message="tns:UpdateUserRequest" name="UpdateUserRequest"> </wsdl:input>
<wsdl:output message="tns:UpdateUserResponse" name="UpdateUserResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetAllUsers">
<wsdl:input message="tns:GetAllUsersRequest" name="GetAllUsersRequest"> </wsdl:input>
<wsdl:output message="tns:GetAllUsersResponse" name="GetAllUsersResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CreateUser">
<wsdl:input message="tns:CreateUserRequest" name="CreateUserRequest"> </wsdl:input>
<wsdl:output message="tns:CreateUserResponse" name="CreateUserResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="DeleteUser">
<wsdl:input message="tns:DeleteUserRequest" name="DeleteUserRequest"> </wsdl:input>
<wsdl:output message="tns:DeleteUserResponse" name="DeleteUserResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetUser">
<wsdl:input message="tns:GetUserRequest" name="GetUserRequest"> </wsdl:input>
<wsdl:output message="tns:GetUserResponse" name="GetUserResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="UserPortSoap11" type="tns:UserPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="UpdateUser">
<soap:operation soapAction=""/>
<wsdl:input name="UpdateUserRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="UpdateUserResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetAllUsers">
<soap:operation soapAction=""/>
<wsdl:input name="GetAllUsersRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetAllUsersResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CreateUser">
<soap:operation soapAction=""/>
<wsdl:input name="CreateUserRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="CreateUserResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="DeleteUser">
<soap:operation soapAction=""/>
<wsdl:input name="DeleteUserRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="DeleteUserResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetUser">
<soap:operation soapAction=""/>
<wsdl:input name="GetUserRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetUserResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="UserPortService">
<wsdl:port binding="tns:UserPortSoap11" name="UserPortSoap11">
<soap:address location="http://api.icraftsoft.net:5858/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>